/* Provide sufficient contrast against white background */

* {
  /* get rid of scrollbars in Firefox */
  /*scrollbar-width: none;*/
}

a {
  /*color: #0366d6;*/
  color: #235997;
}

a:hover {
  color: #0365d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@media (min-width: 900px) {
  .container {
    max-width: 1500px;
  }
}

.fade {
  transition: 70ms;
}

.blink_me {
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}